@page
@model Library.App.Pages.BookPages.AddModel
@{
    ViewData["Title"] = "Add";
}

<h2>Add</h2>
<form action="/" method="post">
    <div class="form-group">
        <label asp-for="@Model.Book.Title"></label>
        <a asp-></a>
    </div>
</form>
