@page
@model IndexModel
@{
    ViewData["Title"] = "My Library";
}

<h1>@ViewData["Title"]</h1>
<a asp-page="/Books/Add" class="btn btn-success">Add New Book</a>
<div class="container">
    @Html.DisplayFor(m=>m.Books, "BookDisplayViewModel");
</div>
